@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-ExtraBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis"
    src: url('../fonts/Metropolis/Metropolis-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Metropolis";
    src: url('../fonts/Metropolis/Metropolis-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

