:root {
    --main-color: #fff;
    --obs-background: #1f1e1f;
    --obs-button-background: #162458;
    --obs-button-border: #233166;
    --obs-button-hover-background: #581624;
    --obs-button-hover-border: #84162d;
    --obs-button-color: #fff;

    --active: #00FF00;
    --gradient: linear-gradient(91.18deg, #021E67 0%, #407EA3 55.58%, #809A50 103.6%, #FEFEFE 103.61%);
    --hover: #0d6efd;

    --scoreboard: #295A8D;
    --secondary: #FD7E14;
    --serve: #FFC107;
    --buttonActive: #198754;
    --buttonDisabled: #ADB5BD;

    --dark: #000000;
    --light: #FFFFFF;
    --danger: red;
  }